@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'ProximaNovaRgBold';
    src: url('../fonts/ProximaNova-Bold-webfont.eot');
    src: url('../fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  IE 4–8 */
@font-face {font-family: TisaWeb-Light; src: url("../fonts/TisaWeb-Light.eot");}

/* then for WOFF-capable browsers */
@font-face {font-family: TisaWeb-Light; src: url("../fonts/TisaWeb-Light.woff") format("woff");}

/* IE 4–8 */
@font-face {font-family: TisaWeb; src: url("../fonts/TisaWeb.eot");}

/* WOFF-capable browsers */
@font-face {font-family: TisaWeb; src: url("../fonts/TisaWeb.woff") format("woff");}

html {background:none;}
body {font-family: 'ProximaNovaRgRegular', sans-serif; background:#f2f2f2; line-height:1.35em;}
strong {font-weight:normal; font-family: 'ProximaNovaRgBold', sans-serif;}
h1, h2, h3, h4, h5 {font-weight:normal; font-family:TisaWeb-Light, serif; color:#333; line-height:1.3em; }
p {color:#777;}
.container {max-width:960px; margin:0 auto;}
a {color:#c1272d;}
a:hover {color:#c1272d; text-decoration:none;}
ul, ol {color:#777;}


/* Header */
/* ------------------- */

header {margin-top: 30px; padding-top: 20px;}
.footer {
	text-align: center;
	padding: 10px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	font-size:12px;
	color:#999;
}
.navbar .brand {font-size:21px; color:#ccc;}
.tagline {float:left; padding: 14px 0 10px 0; color:#888;}
.navbar .nav {float:right; margin-top:5px; margin-right:0; padding-left: 0; font-size:13px;}
header .inner-header {background:#fff; margin:20px; padding: 1px 30px;}
header .inner-header h1 {font-size:40px; font-family:TisaWeb-Light, serif;}
.navbar .nav > li > a {padding:10px;}
.navbar .nav li.last a {padding-right:0;}


/* Choose Politician */
/* ------------------- */
.choose-politician .thumb div {width:50px; height:50px; overflow:hidden;}
.choose-politician .thumb img {width:50px;}
.choose-politician th {text-align:left;}
.choose-politician td, .choose-politician th {padding:1px 10px; border-bottom:1px solid #dedede;}
.choose-politician td.thumb {padding-left:0;}
