{% extends "layout.html" %}
{% block title %}Dollars in Democracy | Campaign Money{% endblock %}
{% block header %}The Problem with Campaign Contributions{% endblock %}
{% block body_class %}campaign{% endblock %}
{% block content %}
	{% if politician != 'None' %}
    <h2>{{ politician['name']}}</h2>
      <table>
        <tr>
        	<td class="table_head">Total Received</td>
            <td class="number">{{politician['total_received']| format_currency}}</td>
        </tr>
        <tr>
        	<td class="table_head">State</td>
            <td>{{politician['state']}}</td>
        </tr>
        
     </table>
    {% else %}
		<p>Please select a location and politician from above.</p>
    {% endif %}
    
    <table>
      	<tr>
        	<td><h2>Industry</h2></td>
            <td><h2>Amount</h2></td>
        </tr>
        {% for industry in top_industries %}
            <tr>
                <td>{{industry['name']}}</td>
                <td class="number">{{industry['amount'] | format_currency}}</td>
            </tr>
        {% endfor %}
     </table>
     <p>includes contributions from an organization’s employees, their family members and its political action committee</p>

{% endblock %}

	