{% extends "layout.html" %}
{% block title %}Dollars in Democracy | Campaign Money{% endblock %}
{% block header %}The Problem with Campaign Contributions{% endblock %}
{% block body_class %}campaign{% endblock %}
{% block content %}
	{% if politician != 'None' %}
      <table>
      	<tr>
        	<td><h2>{{ politician['firstname']}} {{ politician['lastname']}} </h2></td>
        </tr>
        {% for key, value in politician.iteritems() %}
            <tr>
                <td><strong>{{key}}</strong></td>
                <td>{{value}}</td>
            </tr>
        {% endfor %}
     </table>
    {% else %}
		<p>Please select a location and politician from above.</p>
    {% endif %}
    
    <table>
      	<tr>
        	<td><h2>Industry</h2></td>
            <td><h2>Amount</h2></td>
        </tr>
        {% for industry in top_industries %}
            <tr>
                <td><strong>{{industry['name']}}</strong></td>
                <td>{{industry['amount'] | format_currency}}</td>
            </tr>
        {% endfor %}
     </table>
     <p>includes contributions from an organization’s employees, their family members and its political action committee</p>

{% endblock %}

	