{% extends "layout.html" %}
{% block title %}Dollars in Democracy | Campaign Money{% endblock %}
{% block header %}The Problem with Campaign Contributions{% endblock %}
{% block content %}
	{% if politician != 'None' %}
      <table>
      	<tr>
        	<td><h2>{{ politician['firstname']}} {{ politician['lastname']}} </h2></td>
        </tr>
        {% for key, value in politician.iteritems() %}
            <tr>
                <td><strong>{{key}}</strong></td>
                <td>{{value}}</td>
            </tr>
        {% endfor %}
     </table>
    {% else %}
      <p>Please select a location and politician from above.</p>
    {% endif %}
{% endblock %}

	