<!doctype html>
	<link rel="stylesheet" media="screen" href="/static/csik_stole_me.css">

	<title>Hello from Flask</title>
	<body>
		<div id="container">
			<div id="container">

			<p class="woodone">Hello from Flask</p>

			<div id="line">
			</div>

			{% if name %}
			  <p class="lede">How's it hanging, <p class="woodtwo">{{ name }}?</p></p>
			{% else %}
			  <p class="copyone">Hey, yo</p>
			{% endif %}

			<p class='eyebrow'>This has been a template example.</p>
			</div>

		</div>
	</body>