{% extends "layout.html" %}
{% block title %}Dollars in Democracy{% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
  			<h2>The Definition of Democracy</h2>
  			<ol>
  			  <li>
		      government by the people; especially : <strong>rule of the majority</strong></li>
  			  <li>a government in which the supreme <strong>power is vested in the people and exercised by them directly or indirectly through a system of representation</strong> usually involving periodically held free elections </li>
	      </ol>
          	<div class="reciprocity">
          	  <h2>The Law of Reciprocity</h2>
          	  <p>People generally feel obliged to return favours offered to them. Given this, to whom does a politican feel indebted after they recieve vast sums of money from campaign contributions, lobbyists, organizations, and super pacs? </p>
          	</div>
{% endblock %}