<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Dollars in Democracy{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/static/favicon.ico">
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        {% block nav %}
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="brand" href="/">Dollars in Democracy</a>
                  <div class="tagline">Remove Private Money from Politics</div>
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li class="campaign">
                        <a href="/campaign">Campaigns</a>
                      </li>
                      <li class="lobbying">
                        <a href="/lobbying">Lobbying</a>
                      </li>
                      <li class="organizations">
                        <a href="/organizations">Organizations</a>
                      </li>
                      <li class="super_pacs">
                        <a href="/super_pacs">Super PACs</a>
                      </li>
                      <li class="last take_action">
                        <a href="take_action">Take Action</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        {% endblock %}
        
        <header>
        	<div class="inner-header">
        		<div class="container">
                	<h1>
            			{% block header %}Why Remove Private Money from Politics?{% endblock %}
                    </h1>
                </div>
            </div>
        </header>
        
        <div class="container" id="content">
        	<div class="row">
    			<div class="span9 content">
        			{% block content %}{% endblock %}
                </div>
                <div class="span3 sidebar">
                    {% block sidebar %}
                    	<h1>Who is Really Paying?</h1>
                        <hr />
                        <h4>Unlimited Super Pac Money</h4>
                        <h2>$1,288,135,150</h2>
                        <h5>Amount spent during the 2012 election by super pacs and shadow groups</h5>
                        <hr />
                        <h4>The Cost of an Election</h4>
                        <h2>$6,300,000,000</h2>
                        <h5>Spending by candidates, parties, and issue groups for the 2012 election.</h5>
                        
                    {% endblock %}    
                </div>
             </div>
        </div>
        
        <footer class="footer">
        	<div class="container">
            	
                {% block footer %}
        			<div class="footer-left">© Dollars in Democracy | Created by <a href="http://wwww.barbaranatali.com" target="_blank">Barbara Natali</a>. Data from the <a href="http://sunlightfoundation.com/api/" target="_blank">Sunlight Foundation API</a> and <a href="https://www.opensecrets.org" target="_blank">Open Secrets</a> </div>
        		{% endblock %} 
        		<div class="footer-right">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                </div>
			</div>
        </footer>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
          
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520afffc42b03203"></script>
    </body>
</html>
