{% extends "layout.html" %}
{% block title %}Dollars in Democracy | Organizations{% endblock %}
{% block body_class %}organizations{% endblock %}
{% block header %}Top Organization Contributions{% endblock %}
{% block content %}
<p>Organizations -- companies, unions, super PACs, etc -- are able to band together more funds than individuals alone and are, thus, an important force and source of money in politics. Whether through targeted contributions to politicians, radio, TV and print ads, or lobbying efforts, organizations can make their voices heard louder in their attempts to influence elected officials and legislation in a way that favors their economic and social interests. </p>
<h3 class="first-h3">Top Heavy Hitters</h3>
<table class="datadisplay">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Organization</th>
      <th class="number">Total All Cycles</th>
    </tr>
  </thead>
  <tbody>
    <tr class="rowTint">
      <td class="center">1</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000021806">ActBlue</a></td>
      <td class="number">$89,671,274</td>
    </tr>
    <tr>
      <td class="center">2</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000061">American Fedn of State, County &amp; Municipal Employees</a></td>
      <td class="number">$58,148,579</td>
    </tr>
    <tr class="rowTint">
      <td class="center">3</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000076">AT&amp;T Inc</a></td>
      <td class="number">$57,204,101</td>
    </tr>
    <tr>
      <td class="center">4</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000064">National Education Assn</a></td>
      <td class="number">$53,742,180</td>
    </tr>
    <tr class="rowTint">
      <td class="center">5</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000062">National Assn of Realtors</a></td>
      <td class="number">$51,018,852</td>
    </tr>
    <tr>
      <td class="center">6</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000069">Intl Brotherhood of Electrical Workers</a></td>
      <td class="number">$44,473,261</td>
    </tr>
    <tr class="rowTint">
      <td class="center">7</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000085">Goldman Sachs</a></td>
      <td class="number">$44,435,200</td>
    </tr>
    <tr>
      <td class="center">8</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000065">American Assn for Justice</a></td>
      <td class="number">$42,166,749</td>
    </tr>
    <tr class="rowTint">
      <td class="center">9</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000070">United Auto Workers</a></td>
      <td class="number">$41,769,039</td>
    </tr>
    <tr>
      <td class="center">10</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000083">American Federation of Teachers</a></td>
      <td class="number">$37,809,919</td>
    </tr>
  </tbody>
</table>
<h3>Top Lobbying Organizations, 2012</h3>
<table class="datadisplay">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Organization</th>
      <th class="number">Total Lobbying</th>
    </tr>
  </thead>
  <tbody>
    <tr class="rowTint">
      <td class="center">1</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000019798">US Chamber of Commerce</a></td>
      <td class="number">$136,300,000</td>
    </tr>
    <tr>
      <td class="center">2</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000062">National Assn of Realtors </a></td>
      <td class="number">$41,464,580</td>
    </tr>
    <tr class="rowTint">
      <td class="center">3</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000109">Blue Cross/Blue Shield</a></td>
      <td class="number">$22,489,532</td>
    </tr>
    <tr>
      <td class="center">4</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000125">General Electric</a></td>
      <td class="number">$21,200,000</td>
    </tr>
    <tr class="rowTint">
      <td class="center">5</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000116">American Hospital Assn </a></td>
      <td class="number">$19,230,200</td>
    </tr>
    <tr>
      <td class="center">6</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000022131">National Cable &amp; Telecommunications Assn</a></td>
      <td class="number">$18,890,000</td>
    </tr>
    <tr class="rowTint">
      <td class="center">7</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000504">Pharmaceutical Rsrch &amp; Mfrs of America</a></td>
      <td class="number">$18,530,000</td>
    </tr>
    <tr>
      <td class="center">8</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000022008">Google Inc </a></td>
      <td class="number">$18,220,000</td>
    </tr>
    <tr class="rowTint">
      <td class="center">9</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000170">Northrop Grumman</a></td>
      <td class="number">$17,540,000</td>
    </tr>
    <tr>
      <td class="center">10</td>
      <td><a target="_blank" href="https://www.opensecrets.org/orgs/summary.php?id=D000000076">AT&amp;T Inc</a></td>
      <td class="number">$17,460,000</td>
    </tr>
  </tbody>
</table>
{% endblock %}