{% extends "layout.html" %}
{% block title %}Dollars in Democracy | Take Action{% endblock %}
{% block header %}Take Action{% endblock %}
{% block body_class %}take_action{% endblock %}
{% block content %}
	<h2>So what can you do?</h2>
    <h3>Join</h3>
    <p>Join <a href="https://represent.us/" target="_blank">Represent.Us</a> and support the <a href="http://anticorruptionact.org/" target="_blank">American Anti-Corruption Act</a></p>
    <h3>Share</h3>
    <p>Inform your friends and family</p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_button_pinterest_pinit"></a>
    <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <h3>Contact</h3>
    <p>Write your representative and let he/she know that we are sick of private money controlling our government</p>

{% endblock %}